
<h2> <%= @question.title %> </h2>
<%= @question.content %><br>

<% if @question.user_id == session[:user_id] %>
  <%= link_to "edit", edit_question_path(@question)%>
  <%= link_to "delete", question_path(@question), method: "delete" %><br>
<% end %>

<%= @question.votes.count%> votes

<%= render partial: 'votes/form',locals: {parent: Question.find_by(id: @question.id), vote: Vote.new} %>

<br>
<%= render partial:'comments/form', locals: {parent: Question.find_by(id: @question.id), comment: Comment.new} %>
<h3>Comments:</h3>

<%= render partial:'comments/index', locals:{question: @question, 
  comments: @question.comments} %>

<h3>Answers</h3>
<%= render partial:'answers/index', locals: {answers: @answers} %>
<h3>Add an answer:</h3>
<%= render partial:'answers/new', locals: {question: @question, answer: Answer.new} %>


<%= link_to "Back", questions_path %>
